// src/styles/_mixins.scss

// 사용법: @include flex; 또는 @include flex(space-between, center);
@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// 2. Font Style (한 줄로 폰트 설정)
// 사용법: @include font(24px, 700, 1.4);
@mixin font($size, $weight: 400, $lh: 1.5, $color: inherit) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
  color: $color;
}
@mixin font2($size, $weight: 400, $color: inherit) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin font3($weight: 400, $color: inherit) {
  font-weight: $weight;
  color: $color;
}

// 3. Absolute Center (팝업 띄울 때 필수)
@mixin pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 좌우 패딩 한 번에 (padding-x)
@mixin px($val) {
  padding-inline:$val;
}

// 상하 패딩 한 번에 (padding-y)
@mixin py($val) {
  padding-block:$val;
}

@mixin padding($top, $right: null, $bottom: null, $left: null) {
  // 값이 1개일 때 (전체)
  @if $right == null {
    padding: $top;
  }
  // 값이 2개일 때 (상하, 좌우)
  @else if $bottom == null {
    padding: $top $right;
  }
  // 값이 3개일 때 (상, 좌우, 하)
  @else if $left == null {
    padding: $top $right $bottom;
  }
  // 값이 4개일 때 (상, 우, 하, 좌)
  @else {
    padding: $top $right $bottom $left;
  }
}

// 4. Mobile Layout (반응형 짤 때)
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}