* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: width 0.2s ease, height 0.2s ease, padding 0.2s ease, margin 0.2s ease;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


img {
  max-width: 100%;
  display: block;
}

button {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

body {
  font-family: 'Inter', 'Pretendard', sans-serif;
  overflow-x: hidden;
  background-color: #25262B;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}