// src/styles/pc-index.scss
@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

// 공통
// Title
.section-title {
  text-align: left;
  margin-bottom: 30px;

  h3 {
    @include font(36px, 600, 1.2, $c-white);
  }

  .title-row {
    @include flex(space-between, center);
    gap: 30px;
    margin-bottom: 16px;

    // tab
    .tab-buttons {
      display: flex;
      border-radius: 30px;
      background-color: #42444B;

      .tab-btn {
        max-width: 110px;
        min-width: 110px;
        height: 36px;
        max-height: 36px;
        @include font(16px, 400, 1, $c-c2);
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
          opacity: 0.6;
        }

        // 활성화된 탭 스타일
        &.active {
          background-color: $c-primary;
          @include font3(600, $c-black);
          border-radius: 30px;
        }
      }
    }

    // ★ 네비게이션 버튼 스타일
    .nav-buttons {
      display: flex;
      gap: 12px;

      .nav-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        @include flex(center, center);
        cursor: pointer;
        transition: all 0.3s ease;

        img {
          width: 24px; // 아이콘 크기 조절
          height: auto;
          display: block;
          transition: transform 0.3s ease;
        }

        &.prev img {
          transform: rotate(90deg);
        }

        &.next img {
          transform: rotate(-90deg);
        }

        &:hover {
          opacity: 0.6;

          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}

// layout
.layout {
  width: 100%;
  @include px(180px);
  padding-top: 80px;
}

.card,
.skill-item,
.profile_contents,
.skill-group-box,
.accordion_header,
.accordion_body,
.accordion_panel,
.left_box,
.center_box,
.body-cont {
  transition: all 0.4s ease-out;
}

/* --- 모달 팝업 스타일 --- */
.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999; // 제일 위에 뜨게
  display: flex;
  justify-content: center;
  align-items: center;
  
  // 나타날 때 애니메이션 (선택)
  animation: fadeIn 0.3s ease;

  .modal-content {
    width: 90%;
    max-width: 1440px;
    max-height: 90vh;
    background-color: $c-card-bg--1;
    border-radius: 16px;
    position: relative;
    overflow-y: auto;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    @media (max-width:1440px) {
      max-width: 1200px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
   .detail-inner {
      display: flex;
      gap: 40px;
      align-items: flex-start; 
      position: relative;

      .img-area {
        flex: 1.5;
        overflow: hidden;
        
        // 이미지가 길~쭉하게 들어가야 스크롤하는 맛이 나겠죠?
        img {
          width: 100%;
          height: auto;
          display: block;
          + img {
            margin-bottom:20px;
          }
        }
      }

      .text-area {
        position: sticky;
        top: 40px;

        // 1. 닫기 버튼 스타일
        .close-btn {
          position: absolute;
          top: -10px; 
          right: 0;
          background: none;
          border: none;
          cursor: pointer;
          padding: 5px;
          
          img {
            width: 24px; // 닫기 아이콘 크기
            height: 24px;
            display: block;
            transition: transform 0.3s;
          }
          &:hover img {
            transform: rotate(90deg);
          }
        }

        .main-title {
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 10px;
          padding-right: 40px; // 버튼 공간 확보
        }
        .main-desc {
          font-size: 16px;
          color: #666;
          margin-bottom: 40px;
          padding-bottom: 20px;
          border-bottom: 1px solid #eee; // 구분선
        }

        // --- 상세 정보 섹션 스타일 ---
        .detail-info-wrap {
          display: flex;
          flex-direction: column;
          gap: 30px; // 각 섹션 사이 간격

          &.type-overview {
            .content-overview {
              display: flex;
              flex-direction: column;
              gap: 12px; // 1번째 줄과 2번째 줄 사이 간격

              .overview-row {
                display: flex;
                align-items: flex-start; // 텍스트 길어지면 위쪽 정렬
                gap: 10px; // 뱃지와 텍스트 사이 간격

                // 빨간 뱃지 스타일
                .badge.point {
                  flex-shrink: 0; // 뱃지 너비 줄어들지 않게 고정
                  display: inline-block;
                  padding: 4px 10px;
                  border-radius: 4px;
                  background-color: #ff0000;
                  color: #fff;
                  font-size: 12px;
                  font-weight: 600;
                  min-width: 80px; // 뱃지 너비 통일 (선택사항)
                  text-align: center;
                  margin-top: 2px; // 텍스트랑 높이 시각적 보정
                }

                // 설명 텍스트
                .text {
                  font-size: 15px;
                  color: #555;
                  line-height: 1.5;
                  word-break: keep-all; // 한글 단어 끊김 방지
                }
              }
            }
          }

          .info-item {
            .info-header {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-bottom: 10px;

              .label {
                font-size: 18px;
                font-weight: 700;
                color: #333;
              }
              .badge {
                display: inline-block;
                padding: 4px 10px;
                border-radius: 20px;
                background-color: #ffebeb; // 연한 빨강 배경
                color: #ff0000;          // 빨강 글씨
                font-size: 12px;
                font-weight: 600;
              }
            }

            // 본문 텍스트 스타일
            .info-text {
              font-size: 15px;
              color: #555;
              line-height: 1.6;
            }

            // 리스트 스타일
            .info-list {
              display: flex;
              flex-wrap: wrap;
              gap: 8px;
              
              li {
                padding: 6px 14px;
                background-color: #f5f5f5;
                border-radius: 6px;
                font-size: 14px;
                color: #444;
                // 리스트 앞에 점 같은 거 안 생기게
                list-style: none;
              }
            }
          }
        }
      }
    }
    
    // 모바일 대응
    @media (max-width: 768px) {
      padding: 24px;
      .detail-inner {
        flex-direction: column; // 위아래로 배치
        gap: 20px;
      }
    }
  }
}

// 페이드인 애니메이션
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

// 공통 end

// Intro

.intro_wrap {
  width: 100%;
  height: 496px;
  @include px(180px);
  position: relative;
  overflow: hidden;
  background: linear-gradient(-45deg, #48ec95, #3bd7ca, #48ec95);
  background-size: 400% 400%;
  animation: gradientFlow 8s ease infinite;
  @include flex(flex-start, center);

  .intro-cont {
    @include flex(space-between, flex-start);
    width: 100%;

    .intro_inner {
      text-align: left;
      color: $c-black;
      z-index: 10;
      @include flex(center, flex-start, column);
    }

    .text_box {
      margin-bottom: 40px;

      .main_title {
        @include font(86px, 900, 1.2, $c-black);
        text-align: left;
        line-height: 0.98;
      }
    }

    .badge_box {
      @include flex(flex-start, center);
      gap: 8px;

      .badge {
        @include padding(10px, 20px);
        background: $c-black;
        border-radius: 50px;

        @include font(18px, 700, 1, $c-white);
      }
    }


    .git_btn {
      @include flex(center, center);

      width: 60px;
      height: 60px;
      background: $c-white;
      color: $c-black;
      border-radius: 30px;
      outline: none;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      cursor: pointer;
      opacity: 0.8;

      .btn_text {
        @include font(20px, 600, 1, inherit);
        white-space: nowrap;
        width: 0;
        opacity: 0;
        transform: translateX(-10px);
        transition: all 0.4s ease;
      }

      .arrow-icon {
        white-space: nowrap;
        width: 0;
        opacity: 0;
        transform: translateX(-10px);
        transition: all 0.4s ease;
      }

      .btn_icon {
        @include flex(center, center);
        width: 60px;
        height: 60px;
        /* 높이 명시 */
        flex-shrink: 0;

        svg {
          width: 28px;
          height: 28px;
        }
      }

      &:hover {
        width: 170px;
        background: $c-white;
        color: $c-black;

        .btn_text {
          width: auto;
          opacity: 1;
          margin-left: 4px;
          margin-right: 10px;
        }

        .arrow-icon {
          width: 30px;
          height: 30px;
          opacity: 1;
        }
      }
    }
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

// profile

.profile_wrap {
  .accordion_panel {
    width: 100%;
    max-width: 100%; // 최대 너비 제한
    background-color: $c-card-bg--1;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease;

    // 활성화(열림) 상태 스타일
    &.active {
      .accordion_header .right_box .arrow_icon {
        transform: rotate(180deg);
      }

      .accordion_body {
        grid-template-rows: 1fr;
        padding-bottom: 40px;
      }
    }
  }

  // 아코디언 헤더
  .accordion_header {
    width: 100%;
    @include padding(36px, 40px);
    cursor: pointer;
    @include flex(space-between, center);

    @media (max-width: 1800px) {
      @include padding(24px, 36px);
    }

    .profile-cont {
      @include flex(flex-start, center);
      gap: 30px;

      // 1. 왼쪽: 프로필 영역
      .left_box {
        @include flex(flex-start, center);
        gap: 16px;

        .img_area {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;


          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .info_text {
          h3 {
            @include font(24px, 700, 1.2, $c-white);
            margin-bottom: 8px;
          }

          .badges {
            @include flex(flex-start, center);
            gap: 10px;

            span {
              @include padding(2px, 8px);
              border-radius: 4px;
              @include font(14px, 500);
              line-height: 18px;

              &:first-child {
                background-color: rgba(72, 236, 149, 0.1);
                color: $c-primary;
              }

              &:last-child {
                background-color: rgba(59, 215, 202, 0.1);
                color: $c-sub-primary;
              }
            }
          }
        }
      }

      // 2. 가운데: 정보 리스트 (DL)
      .center_box {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        padding-left: 30px;

        dl {
          @include flex(flex-start, flex-start, column);
          gap: 10px;

          .row {
            @include flex(flex-start, center);
            gap: 60px;

            dt {
              @include font(16px, 500, 1.5, $c-c2);
              width: 70px;
              min-width: 70px;
            }

            dd {
              @include font(16px, 600, 1.2, $c-white);
            }
          }
        }
      }
    }

    // 3. 오른쪽: 화살표
    .right_box {
      .arrow_icon {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.1);
        @include flex(center, center);
        transition: transform 0.3s ease;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  // --- body (숨겨진 영역) ---
  .accordion_body {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;

    .body_inner {
      @include px(36px);
      overflow: hidden;
      min-height: 0;

      .body-cont {
        +.body-cont {
          margin-top: 36px;
        }

        h3 {
          @include font(24px, 700, 1.2, $c-white);
          margin-bottom: 30px;
        }

        // about me
        .card-list {
          @include flex(center, center);
          gap: 24px;
          align-items: stretch;

          .card {
            flex: 1;
            background-color: $c-card-bg--2;
            @include padding(30px, 36px);
            border-radius: 16px;

            @media (max-width: 1800px) {
              @include padding(20px, 24px);
            }

            &:hover {
              transform: translateY(-3px);
            }

            .icon {
              height: 40px;
              width: 40px;
              display: inline-block;
              background-color: rgba(255, 255, 255, 0.1);
              @include flex(center, center);
              border-radius: 50%;
              margin-bottom: 20px;
            }

            >h4 {
              @include font(18px, 600, 1.2, $c-white);
              padding-bottom: 16px;
            }

            >p {
              @include font(14px, 400, 1.5, $c-white);
            }
          }
        }

        // skills
        .skills-grid {
          @include flex(flex-start, center, column);
          gap: 24px;
          width: 100%;

          .skill-group-box {
            width: 100%;

            h4 {
              @include font(18px, 500, 1, $c-c2);
              margin-bottom: 16px;
            }

            // 그룹 내부의 바 차트 리스트
            .group-list {
              @include flex(flex-start, center);
              gap: 24px;
              width: 100%;

              .skill-item {
                @include flex(flex-start, flex-start, column);
                gap: 20px;
                background-color: $c-card-bg--2;
                border-radius: 16px;
                @include padding(30px, 36px);
                width: 100%;

                @media (max-width: 1919px) {
                  @include padding(20px, 24px);
                }

                &:hover {
                  transform: translateY(-3px);
                }

                .skill-info {
                  @include flex(flex-start, center);
                  font-weight: 500;
                  gap: 10px;

                  .icon {
                    @include flex(center, center);
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: $c-white;
                  }

                  .label {
                    @include font(18px, 600, 1.2, $c-white);
                  }

                  .percent-num {
                    font-size: 16px;
                  }
                }

                // 바 차트 배경 (트랙)
                .bar-track {
                  width: 100%;
                  height: 12px;
                  background-color: #686C79;
                  border-radius: 12px;
                  overflow: hidden;

                  // 차오르는 색상 바
                  .bar-fill {
                    height: 100%;
                    background-color: $c-primary;
                    border-radius: 10px;
                    transition: width 1.5s cubic-bezier(0.22, 0.61, 0.36, 1);

                    &.design {
                      background-color: $c-sub-primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// work process

.process_wrap {
  .process-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    // 모바일 반응형 (768px 이하에선 2개씩, 더 작으면 1개씩)
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .process-card {
      background-color: $c-card-bg--1;
      @include padding(36px, 40px);
      border-radius: 16px;
      text-align: left;
      transition: transform 0.3s ease, background-color 0.3s ease;

      @media (max-width: 1800px) {
        @include padding(24px, 36px);
      }

      .icon-box {
        width: 36px;
        height: 36px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        position: relative;
        margin-bottom: 20px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: auto;
          transition: opacity 0.3s ease;

          &.icon-default {
            opacity: 1;
          }

          &.icon-hover {
            opacity: 0;
          }
        }
      }

      &:hover {
        transform: translateY(-5px) scale(1.02);
        background-color: $c-card-bg--2;

        .icon-box {
          .icon-default {
            opacity: 0;
          }

          .icon-hover {
            opacity: 1;
          }
        }

        h4 {
          color: $c-white;
        }

        p {
          color: $c-white;
        }
      }

      h4 {
        @include font(20px, 600, 1.2, #d0d0d0);
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        color: #a3a3a3;
        line-height: 1.5;
        word-break: keep-all;
      }
    }
  }
}

// 페이드인 애니메이션 키프레임
@keyframes fadeInUp {
  from {
    opacity: 0.6;
    transform: translateY(5px); // 아래에서 20px 내려간 상태
  }

  to {
    opacity: 1;
    transform: translateY(0); // 제자리로
  }
}

// Portfolio

.portfolio_wrap {

  .section-title {
    @include px(180px);
    padding-top: 80px;
  }

  .portfolio-cont {
    @include py(60px);
    overflow: hidden;
  }

  .portfolio-swiper {
    overflow: visible;

    .swiper-wrapper {
      transition-timing-function: ease-out;
    }

    .swiper-slide {
      width: 18vw;
      max-width: 350px;
      min-width: 260px;
      aspect-ratio: 3 / 4;
      position: relative;
      padding: 0 12px;

      .inner-box {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transform: scale(0.9);
        transform-origin: center center;
        transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;

        .img-box {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.5s ease, transform 0.5s ease-out;
          }
        }

        .hover-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: $c-card-bg--1;
          @include padding(16px, 20px);
          transform: translateY(100%);
          transition: transform 0.4s ease-out;
          @include flex(flex-start, column);
          text-align: left;

          .text-wrap {
            width: 100%;
            color: $c-white;

            h4 {
              @include font(16px, 600, 1);
              margin-bottom: 8px;
            }

            p {
              margin-bottom: 16px;
              @include font(13px, 400, 1.2, $c-c2)
              // white-space: nowrap;
              // overflow: hidden;
              // text-overflow: ellipsis;
            }

            .view-btn {
              display: inline-block;
              @include padding(6px, 16px);
              border-radius: 30px;
              border:1px solid $c-primary;
              @include font(12px, 400, 1, $c-primary);
              transition: opacity 0.3s;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }

      &.swiper-slide-active {
        z-index: 10;

        .inner-box {
          transform: scale(1.25);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

          .img-box img {
            filter: grayscale(0%);
          }

          &:hover {
            .img-box img {
              transform: scale(1.1);
            }

            .hover-overlay {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}