// src/styles/pc-index.scss
@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

// 공통

.pc-wrap {

  // layout
  .layout {
    width: 100%;
    @include px(180px);
    padding-top: 80px;

    @media (max-width:1728px) {
      @include px(80px);
    }
  }

  // button

  .btn {
    flex: 1;
    border-radius: 30px;
    background-color: $c-primary;
    height: 40px;
    @include font(16px, 700, 1, $c-black);
    @include flex(center, center);
    @include px(16px);
    gap: 6px;

    .arrow-icon {
      width: 24px;
      height: 24px;
    }

    &.grey {
      background-color: $c-card-bg--2;
      color: $c-white;
      font-weight: 400;
    }

    &:hover {
      opacity: 0.6;
      transition: all 0.3s ease;
    }
  }

  @media (max-width:1440px) {
    button {
      font-size: 14px;
      height: 30px;
    }
  }

  // Title
  .section-title {
    text-align: left;
    margin-bottom: 30px;

    h3 {
      @include font(36px, 600, 1.2, $c-white);
    }

    .title-row {
      @include flex(space-between, center);
      gap: 30px;
      margin-bottom: 16px;

      // tab
      .tab-buttons {
        display: flex;
        border-radius: 30px;
        background-color: #42444B;

        .tab-btn {
          max-width: 110px;
          min-width: 110px;
          height: 36px;
          max-height: 36px;
          @include font(16px, 400, 1, $c-c2);
          cursor: pointer;
          transition: all 0.4s;

          &:hover {
            opacity: 0.6;
          }

          // 활성화된 탭 스타일
          &.active {
            background-color: $c-primary;
            font-weight: 700;
            color: $c-black;
            border-radius: 30px;
          }
        }
      }

      // ★ 네비게이션 버튼 스타일
      .nav-buttons {
        display: flex;
        gap: 12px;

        .nav-btn {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.1);
          @include flex(center, center);
          cursor: pointer;
          transition: all 0.3s ease;

          img {
            width: 24px; // 아이콘 크기 조절
            height: auto;
            display: block;
            transition: transform 0.3s ease;
          }

          &.prev img {
            transform: rotate(90deg);
          }

          &.next img {
            transform: rotate(-90deg);
          }

          &:hover {
            opacity: 0.6;

            img {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }
  }

  .card,
  .skill-item,
  .profile_contents,
  .skill-group-box,
  .accordion_header,
  .accordion_body,
  .accordion_panel,
  .left_box,
  .center_box,
  .body-cont {
    transition: all 0.4s ease-out;
  }

  // dot
  .dot {
    width: 6px;
    height: 6px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    flex-shrink: 0;
  }

  // badge
  .badge {
    @include padding(4px, 8px);
    border-radius: 4px;
    @include font(14px, 500, 1, $c-white);
    background-color: rgba(255, 255, 255, 0.1);
  }

  /* --- 모달 팝업 스타일 --- */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    @include flex(center, center);
    animation: fadeIn 0.3s ease;

    .modal-cont {
      width: 90%;
      max-width: 1440px;
      max-height: 90vh;
      background-color: $c-card-bg--1;
      border-radius: 16px;
      position: relative;
      overflow-y: auto;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

      .modal-fixed-actions {
        position: static;
        display: flex;
        gap: 10px;
        z-index: 1001;
        width: 100%;
        background-color: $c-card-bg--1;
        @include padding(12px, 20px);
        flex-shrink: 0; // 높이 줄어들지 않게 고정
      }

      @media (max-width:1440px) {
        max-width: 1200px;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none;
      -ms-overflow-style: none;

      .detail-inner {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        position: relative;

        .img-area {
          flex: 1.5;
          overflow: hidden;
          display: flex;
          align-items: center;
          background-color: $c-bg;

          img {
            width: 100%;
            height: auto;
            display: block;

            +img {
              margin-bottom: 20px;
            }
          }
        }

        .text-area {

          position: sticky;
          top: 0;
          height: 90vh;
          max-height: 90vh;
          width: 420px;
          min-width: 320px;
          background-color: $c-card-bg--1;
          display: flex;
          flex-direction: column;

          @media (max-width:1440px) {
            width: 328px;
          }

          .close-btn {
            position: absolute;
            top: 24px;
            right: 36px;
            background: none;
            border: none;
            cursor: pointer;

            img {
              width: 24px;
              height: 24px;
              display: block;
              transition: transform 0.3s;
            }

            &:hover img {
              transform: rotate(90deg);
            }
          }

          .title {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            @include padding(48px, 36px, 20px, 36px);
            flex-shrink: 0;

            >h3 {
              @include font(32px, 700, 1.2, $c-white);
              margin-bottom: 8px;
            }

            >p {
              @include font(16px, 500, 1.2, $c-888);
            }
          }

          // --- 상세 정보 섹션 스타일 ---
          .detail-info-wrap {
            flex: 1;
            overflow-y: auto;

            @include padding(20px, 36px);
            @include flex(flex-start, flex-start, column);
            gap: 36px;

            &::-webkit-scrollbar {
              width: 6px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: rgba(255, 255, 255, 0.2);
              border-radius: 3px;
            }

            &::-webkit-scrollbar-track {
              background-color: transparent;
            }

            .info-item {
              width: 100%;

              .label {
                @include font(20px, 600, 1, $c-white);
                margin-bottom: 20px;
              }

              &.type-overview {
                .cont {
                  @include flex(flex-start, flex-start, column);
                  gap: 12px;

                  .overview-row {
                    @include flex(flex-start, center);
                    gap: 10px;

                    &:first-child {
                      .badge {
                        background-color: rgba(72, 236, 149, 0.1);
                        color: $c-primary;
                      }
                    }

                    &:last-child {
                      .badge {
                        background-color: rgba(59, 215, 202, 0.1);
                        color: $c-sub-primary;
                      }
                    }

                    .text {
                      @include font(16px, 600, 1.2, $c-white);
                    }
                  }
                }
              }

              &.type-contribution {
                .cont {
                  width: 100%;
                  @include flex(flex-start, center);
                  flex-wrap: wrap;
                  gap: 8px;
                }
              }

              &.type-tech {
                >ul {
                  @include flex(flex-start, flex-start, column);
                  gap: 10px;

                  >li {
                    @include flex(flex-start, flex-start);
                    gap: 8px;
                    @include font(14px, 400, 1.5, $c-white);

                    .dot {
                      margin-top: 8px;
                      background-color: $c-primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // 페이드인 애니메이션
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* --- Confirm 모달 스타일 --- */
  .confirm-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;

    .modal-cont {
      width: 400px;
      background-color: $c-card-bg--1;
      border-radius: 16px;
      padding: 30px 24px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      text-align: left;

      h3 {
        @include font(20px, 700, 1.2, $c-white);
        margin-bottom: 24px;
      }

      .info-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;

        .info-item {
          @include flex(flex-start, flex-start, column);
          gap: 8px;

          .label {
            @include font(13px, 500, 1, $c-888);
          }

          .value-box {
            width: 100%;
            @include flex(space-between, center);
            background-color: $c-card-bg--2;
            @include padding(10px, 12px, 10px, 20px);
            border-radius: 30px;

            .text {
              @include font(16px, 600, 1, $c-white);
            }

            .copy-btn {
              font-size: 12px;
              color: $c-primary;
              border: 1px solid $c-primary;
              padding: 4px 10px;
              width: 48px;
              height: 32px;
              border-radius: 30px;
              cursor: pointer;
              transition: opacity 0.2s;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }

      .modal-actions {
        .btn {
          width: 100%;
          height: 48px;
          @include font(16px, 700, 1, $c-black);
          cursor: pointer;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  // 페이드인 애니메이션
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  // 공통 end

  // Intro

  .intro_wrap {
    width: 100%;
    height: 496px;
    @include px(180px);
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg, #48ec95, #3bd7ca, #48ec95);
    background-size: 400% 400%;
    animation: gradientFlow 8s ease infinite;
    @include flex(flex-start, center);

    @media (max-width:1728px) {
      @include px(80px);
    }

    .intro-cont {
      @include flex(space-between, flex-start);
      width: 100%;

      .intro_inner {
        text-align: left;
        color: $c-black;
        z-index: 10;
        @include flex(center, flex-start, column);

        .text_box {
          margin-bottom: 40px;

          .main_title {
            @include font(86px, 900, 1.2, $c-black);
            text-align: left;
            line-height: 0.98;
          }
        }

        .badge_box {
          @include flex(flex-start, center);
          gap: 8px;

          .badge {
            @include padding(10px, 20px);
            background: $c-black;
            border-radius: 50px;

            @include font(18px, 700, 1, $c-white);
          }
        }
      }

      // git 버튼
      .git-nav-wrapper {
        position: absolute;
        top: 142px;
        right: 0;
        width: auto;
        z-index: 1000;
        transition: width 0.4s, padding 0.4s, backdrop-filter 0.4s;
        padding-right: 180px;

        @media (max-width:1728px) {
          padding-right: 80px;
        }

        .nav-inner {
          padding: 0;
          transition: all 0.4s ease;

          .git_btn {
            @include flex(center, center);
            width: 60px;
            height: 60px;
            background: $c-white;
            color: $c-black;
            border-radius: 30px;
            outline: none;
            overflow: hidden;
            transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            cursor: pointer;
            opacity: 0.8;
            gap:4px;

            .btn_text {
              @include font(20px, 600, 1, inherit);
              white-space: nowrap;
              width: 0;
              opacity: 0;
              transform: translateX(-10px);
              transition: all 0.4s ease;
            }

            .arrow-icon {
              white-space: nowrap;
              width: 0;
              opacity: 0;
              transform: translateX(-10px);
              transition: all 0.4s ease;
            }

            .btn_icon {
              @include flex(center, center);
              width: 60px;
              height: 60px;
              flex-shrink: 0;

              svg {
                width: 28px;
                height: 28px;
              }
            }

            &:hover {
              width: 170px;
              background: $c-white;
              color: $c-black;

              .btn_text {
                width: auto;
                opacity: 1;
                margin-left: 4px;
                margin-right: 10px;
              }

              .arrow-icon {
                width: 30px;
                height: 30px;
                opacity: 1;
              }
            }
          }
        }

        // ★ 스크롤 내려서 고정되었을 때
        &.fixed-nav {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: auto;
          width: 100%;
          height: 60px;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          animation: slideDown 0.4s ease forwards;
          @include flex(flex-end, center);

          .nav-inner {
            .git_btn {
              transform: scale(0.7);
            }
          }
        }
      }
    }
  }

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  // profile

  .profile_wrap {
    .accordion_panel {
      width: 100%;
      max-width: 100%;
      background-color: $c-card-bg--1;
      border-radius: 16px;
      overflow: hidden;
      transition: all 0.3s ease;

      // 활성화(열림) 상태 스타일
      &.active {
        .accordion_header .right_box .arrow_icon {
          transform: rotate(180deg);
        }

        .accordion_body {
          grid-template-rows: 1fr;
          padding-bottom: 40px;
        }
      }
    }

    // 아코디언 헤더
    .accordion_header {
      width: 100%;
      @include padding(36px, 40px);
      cursor: pointer;
      @include flex(space-between, center);

      @media (max-width: 1800px) {
        @include padding(24px, 36px);
      }

      .profile-cont {
        @include flex(flex-start, center);
        gap: 30px;

        // 1. 왼쪽: 프로필 영역
        .left_box {
          @include flex(flex-start, center);
          gap: 16px;

          .img_area {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .info_text {
            h3 {
              @include font(24px, 700, 1.2, $c-white);
              margin-bottom: 8px;
            }

            .badges {
              @include flex(flex-start, center);
              gap: 10px;

              span {
                @include padding(4px, 8px);
                border-radius: 4px;
                @include font(14px, 500, 1);
                line-height: 18px;

                &:first-child {
                  background-color: rgba(72, 236, 149, 0.1);
                  color: $c-primary;
                }

                &:last-child {
                  background-color: rgba(59, 215, 202, 0.1);
                  color: $c-sub-primary;
                }
              }
            }
          }
        }

        // 2. 가운데: 정보 리스트 (DL)
        .center_box {
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          padding-left: 30px;

          dl {
            @include flex(flex-start, flex-start, column);
            gap: 10px;

            .row {
              @include flex(flex-start, center);
              gap: 60px;

              dt {
                @include font(16px, 500, 1.5, $c-c2);
                width: 70px;
                min-width: 70px;
              }

              dd {
                @include font(16px, 600, 1.2, $c-white);
              }
            }
          }
        }
      }

      // 3. 오른쪽: 화살표
      .right_box {
        .arrow_icon {
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.1);
          @include flex(center, center);
          transition: transform 0.3s ease;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    // --- body (숨겨진 영역) ---
    .accordion_body {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.3s ease-in-out;

      .body_inner {
        @include px(36px);
        overflow: hidden;
        min-height: 0;

        .body-cont {
          +.body-cont {
            margin-top: 36px;
          }

          h3 {
            @include font(24px, 700, 1.2, $c-white);
            margin-bottom: 30px;
          }

          // about me
          .card-list {
            @include flex(center, center);
            gap: 24px;
            align-items: stretch;

            .card {
              flex: 1;
              background-color: $c-card-bg--2;
              @include padding(30px, 36px);
              border-radius: 16px;

              @media (max-width: 1800px) {
                @include padding(20px, 24px);
              }

              &:hover {
                transform: translateY(-3px);
              }

              .icon {
                height: 40px;
                width: 40px;
                display: inline-block;
                background-color: rgba(255, 255, 255, 0.1);
                @include flex(center, center);
                border-radius: 50%;
                margin-bottom: 20px;
              }

              >h4 {
                @include font(18px, 600, 1.2, $c-white);
                padding-bottom: 16px;
              }

              >p {
                @include font(14px, 400, 1.5, $c-white);
              }
            }
          }

          // skills
          .skills-grid {
            @include flex(flex-start, center, column);
            gap: 24px;
            width: 100%;

            .skill-group-box {
              width: 100%;

              h4 {
                @include font(18px, 500, 1, $c-c2);
                margin-bottom: 16px;
              }

              // 그룹 내부의 바 차트 리스트
              .group-list {
                @include flex(flex-start, center);
                gap: 24px;
                width: 100%;

                .skill-item {
                  @include flex(flex-start, flex-start, column);
                  gap: 20px;
                  background-color: $c-card-bg--2;
                  border-radius: 16px;
                  @include padding(30px, 36px);
                  width: 100%;

                  @media (max-width: 1919px) {
                    @include padding(20px, 24px);
                  }

                  &:hover {
                    transform: translateY(-3px);
                  }

                  .skill-info {
                    @include flex(flex-start, center);
                    font-weight: 500;
                    gap: 10px;

                    .icon {
                      @include flex(center, center);
                      width: 32px;
                      height: 32px;
                      border-radius: 50%;
                      background-color: $c-white;
                    }

                    .label {
                      @include font(18px, 600, 1.2, $c-white);
                    }

                    .percent-num {
                      font-size: 16px;
                    }
                  }

                  // 바 차트 배경 (트랙)
                  .bar-track {
                    width: 100%;
                    height: 12px;
                    background-color: #686C79;
                    border-radius: 12px;
                    overflow: hidden;

                    // 차오르는 색상 바
                    .bar-fill {
                      height: 100%;
                      background-color: $c-primary;
                      border-radius: 10px;
                      transition: width 1.5s cubic-bezier(0.22, 0.61, 0.36, 1);

                      &.design {
                        background-color: $c-sub-primary;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // work process

  .process_wrap {
    .process-cont {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
      animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

      // 모바일 반응형 (768px 이하에선 2개씩, 더 작으면 1개씩)
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      .process-card {
        background-color: $c-card-bg--1;
        @include padding(36px, 40px);
        border-radius: 16px;
        text-align: left;
        transition: transform 0.3s ease, background-color 0.3s ease;

        @media (max-width: 1800px) {
          @include padding(24px, 36px);
        }

        .icon-box {
          width: 36px;
          height: 36px;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          position: relative;
          margin-bottom: 20px;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: auto;
            transition: opacity 0.3s ease;

            &.icon-default {
              opacity: 1;
            }

            &.icon-hover {
              opacity: 0;
            }
          }
        }

        &:hover {
          transform: translateY(-5px) scale(1.02);
          background-color: $c-card-bg--2;

          .icon-box {
            .icon-default {
              opacity: 0;
            }

            .icon-hover {
              opacity: 1;
            }
          }

          h4 {
            color: $c-white;
          }

          p {
            color: $c-white;
          }
        }

        h4 {
          @include font(20px, 600, 1.2, #d0d0d0);
          margin-bottom: 12px;
        }

        p {
          font-size: 16px;
          color: #a3a3a3;
          line-height: 1.5;
          word-break: keep-all;
        }
      }
    }
  }

  // 페이드인 애니메이션 키프레임
  @keyframes fadeInUp {
    from {
      opacity: 0.6;
      transform: translateY(5px); // 아래에서 20px 내려간 상태
    }

    to {
      opacity: 1;
      transform: translateY(0); // 제자리로
    }
  }

  // Portfolio

  .portfolio_wrap {

    .section-title {
      @include px(180px);
      padding-top: 80px;

      @media (max-width:1728px) {
        @include px(80px);
      }
    }

    .portfolio-cont {
      @include py(60px);
      overflow: hidden;
    }

    .portfolio-swiper {
      overflow: visible;

      .swiper-wrapper {
        transition-timing-function: ease-out;
        will-change: transform; // 브라우저에게 움직임을 예고
        transform: translate3d(0, 0, 0);
      }

      .swiper-slide {
        width: 19vw;
        max-width: 350px;
        aspect-ratio: 3 / 4;
        position: relative;
        padding: 0 12px;
        backface-visibility: hidden;
        transform: translateZ(0);

        .inner-box {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          position: relative;
          transform: scale(0.9);
          transform-origin: center center;
          transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;

          .img-box {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              filter: grayscale(100%);
              transition: filter 0.5s ease, transform 0.5s ease-out;
              will-change: transform, opacity;
              transform: translateZ(0);
            }
          }

          .hover-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $c-card-bg--1;
            @include padding(16px, 20px);
            transform: translateY(100%);
            transition: transform 0.4s ease-out;
            @include flex(flex-start, column);
            text-align: left;

            .text-wrap {
              width: 100%;
              color: $c-white;

              .title {
                @include flex(flex-start, center);
                gap: 4px;
                margin-bottom: 8px;

                h4 {
                  @include font(18px, 600, 1);
                }
              }

              p {
                margin-bottom: 16px;
                @include font(13px, 400, 1.2, $c-c2) // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
              }

              .view-btn {
                display: inline-block;
                @include padding(6px, 16px);
                border-radius: 30px;
                border: 1px solid $c-primary;
                @include font(12px, 400, 1, $c-primary);
                transition: opacity 0.3s;

                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }

        &.swiper-slide-active {
          z-index: 10;

          .inner-box {
            transform: scale(1.25);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

            .img-box img {
              filter: grayscale(0%);
            }

            &:hover {
              .img-box img {
                transform: scale(1.1);
              }

              .hover-overlay {
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  }

  // faq

  .faq_wrap {
    // 컨테이너 스타일 (필요시 수정)
    width: 100%;
    max-width: 100%;

    .faq-cont {
      @include flex(flex-start, flex-start, column);
      gap: 24px;

      .accordion_panel {
        border-radius: 12px;
        overflow: hidden;
        transition: all 0.3s ease;
        width: 100%;

        // 활성화(열림) 상태 스타일
        &.active {
          .accordion_header {
            .header-inner {
              .arrow_icon {
                transform: rotate(180deg);
              }
            }
          }
        }

        // [헤더 영역]
        .accordion_header {
          @include padding(24px, 30px);
          cursor: pointer;
          background-color: $c-card-bg--1;
          transition: background-color 0.2s;

          &:hover {
            transition: all 0.3s ease;
            opacity: 0.6;
          }

          .header-inner {
            display: flex;
            @include flex(space-between, center);

            >h4 {
              @include font(18px, 600, 1, $c-white);
              margin: 0;

              @media (max-width:1300px) {
                font-size: 16px;
              }

              >span {
                color: $c-primary;
              }
            }

            .arrow_icon {
              width: 24px;
              height: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: transform 0.3s ease;
              flex-shrink: 0;

              img {
                width: 100%;
              }
            }
          }
        }

        // [바디 영역 - Grid 애니메이션]
        .accordion_body {
          display: grid;
          grid-template-rows: 0fr; // 평소엔 높이 0
          transition: grid-template-rows 0.3s ease-in-out;
          background-color: $c-card-bg--1;

          .body_inner {
            overflow: hidden;
            min-height: 0;

            >p {
              background-color: $c-card-bg--2;
              border-radius: 8px;
              @include font(14px, 400, 1.5, $c-white);
              @include padding(16px, 20px);
              margin: 0 24px 30px 24px;
              white-space: pre-line;
            }
          }
        }

        // 활성화 시 바디 열기
        &.active {
          .accordion_body {
            grid-template-rows: 1fr;
          }
        }
      }
    }
  }
}

// Contact

.contact_wrap {
  padding-bottom: 80px;

  .contact-cont {
    .contact-inner {
      h4 {
        @include font(56px, 700, 1.2, $c-primary);
        margin-bottom: 20px;

        @media (max-width:1440px) {
          font-size: 48px;
          margin-bottom: 12px;
        }
      }

      p {
        @include font(24px, 500, 1.5, $c-white);
        margin-bottom: 40px;

        @media (max-width:1440px) {
          font-size: 18px;
        }
      }

      .btn {
        @media (min-width:1440px) {
          @include px(30px);
          height: 50px;

          .txt {
            font-size: 18px;
          }

          .arrow-icon {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}